*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.contain, .contain2{
    max-width: 470;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(135deg, #00feba, #5b548a);

}